body {
  padding-top: 50px;
  z-index: 0; }

.navbar-inverse {
  background-color: #513420; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background-color: #735735;
  color: white; }

.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
  box-sizing: border-box; }

.footer {
  background-color: #F0D17A;
  margin: 0px auto;
  padding: 20px 0px; }
  .footer .row:first-child {
    margin-bottom: 10px; }

.card-header {
  background-color: #FED02A; }

.reserve-modal__buttons {
  margin-left: 141px; }

.centered {
  text-align: center; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.fa-sign-in {
  color: white; }

.btn-signin {
  background-color: #FED02A; }

.carousel {
  background-color: #720720; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

#carousel-button {
  position: absolute;
  right: 0px;
  bottom: 0px; }

.btn-sm {
  border-radius: 0 !important; }

a {
  color: #121535; }

address {
  font-size: 80%;
  margin: 0;
  color: #121535; }
